header {
    padding: 20px;
    background-color: black;
    color: white;
    animation: slideFade 3s ease-out forwards;
}
@keyframes slideFade {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Make nav a flex container and add gap */
header nav {
    display: flex;
    justify-content: end;
    gap: 50px; /* space between all links */
    align-items: center; /* vertically center links */
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
nav a img {
    display: inline-block;
    vertical-align: middle;
    gap: 10px;
}
.sand {
    display: flex;
    justify-content: space-around;
    height: 450px;
    width: auto;
    margin: 20px;
}
.sand-card {
    margin: 10px;
}
h1 {
    text-align: center;
}
fieldset {
    margin: 40px;
    display: flex;
    justify-content: space-around;
}

.rat{
    height: auto;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    margin: 10px;
}

.item img {
    width: 85%;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    }
    .item img:hover {
        transform: scale(2);
    }
    .rat p, b {
        text-align: center;
        font-size: 18px;
    }
    .cat {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 10px;
    }
    .cat video {
        border-radius: 10px;
        margin: 5px;
    }
    .fox {
        border: 1px solid gray;
        border-radius: 10px;
        height: auto;
        width: 300px;
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(1, 280px);
    }
    .fox-item img {
        width: 100%;
        height: 120px;
        margin: 3px;
        border-radius: 10px;
    }
    .fox-item img:hover {
        transform: scale(2);
        cursor: pointer;
    }
    footer {
        padding: 40px;
      background-color: gray;
    }  
    .monkey {
        display: flex;
        justify-content: space-between;
    }
    .monkey .monkey-11 {
        gap: 50px;
    }